In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer





df = pd.read_csv("cleaned_data.csv")

print(df.shape)
display(df.head())
display(df.describe(include="all").T)

(1000, 8)

,Age,BMI,Exercise_Frequency,Diet_Quality,Sleep_Hours,Smoking_Status,Alcohol_Consumption,Health_Score
0,45.960570,31.996777,5,55.403270,7.300359,0,2.834707,70.542122
1,38.340828,29.623168,6,41.838357,7.012419,1,7.199517,57.244637
2,47.772262,25.298152,5,76.904948,6.028641,1,4.097944,96.333722
3,58.276358,21.765316,2,49.756767,5.802714,1,3.649377,61.321783
4,37.190160,28.491117,2,44.218737,7.912548,0,2.839795,67.175894

,count,mean,std,min,25%,50%,75%,max
Age,1000.0,40.231985,11.750591,1.104792,32.228916,40.303607,47.775327,86.232778
BMI,1000.0,25.354181,4.987272,10.298057,21.968792,25.315386,28.644411,40.965538
Exercise_Frequency,1000.0,2.888000,1.995354,0.000000,1.000000,3.000000,5.000000,6.000000
Diet_Quality,1000.0,69.952977,14.972061,19.907497,59.945481,69.975151,80.527839,110.265186
Sleep_Hours,1000.0,6.973135,1.517218,2.431107,5.903351,6.990847,8.054595,11.638962
Smoking_Status,1000.0,0.499000,0.500249,0.000000,0.000000,0.000000,1.000000,1.000000
Alcohol_Consumption,1000.0,3.079377,2.084564,-3.592506,1.644111,3.064261,4.489293,11.105100
Health_Score,1000.0,85.479947,13.633845,29.106017,76.430819,87.498996,99.762644,100.000000

In [3]:

target_col = "Health_Score"



y = df[target_col]


X = df.drop(columns=[target_col])


X = X.select_dtypes(include=[np.number])

print("Features shape:", X.shape)
print("Target shape:", y.shape)

Features shape: (1000, 7)
Target shape: (1000,)

In [ ]:

df = pd.read_csv("synthetic_health_data.csv")


binary_cols = ["Smoking_Status"]
target_col  = "Health_Score"


cont_cols = ["Age", "BMI", "Diet_Quality", "Sleep_Hours", "Alcohol_Consumption"]

for col in cont_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")


df["Exercise_Frequency"] = pd.to_numeric(df["Exercise_Frequency"], errors="coerce")
df["Smoking_Status"]     = pd.to_numeric(df["Smoking_Status"], errors="coerce")



df["Diet_Exercise"]  = df["Diet_Quality"] * df["Exercise_Frequency"]
df["Sleep_Exercise"] = df["Sleep_Hours"] * df["Exercise_Frequency"]
df["BMI_sq"]         = df["BMI"] ** 2
df["Alcohol_sq"]     = df["Alcohol_Consumption"] ** 2


for col in ["BMI_Diet_Quality", "Diet_Sleep", "Alc_Execercise",
            "age_sleep", "Exercise_Sleep", "Diet_Quality_BMI"]:
    if col in df.columns:
        df = df.drop(columns=[col])


df["Smoking_Status"] = df["Smoking_Status"].astype(int)
df["Exercise_Frequency"] = df["Exercise_Frequency"].astype(int)

df = df.drop_duplicates()
X = df.drop(columns=[target_col])
y = df[target_col]

numeric_cols = [c for c in df.columns if c not in binary_cols + [target_col]]


X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


preprocess = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numeric_cols),
        ("bin", "passthrough", binary_cols),
    ]
)